<a href="https://colab.research.google.com/github/priyalpote/pandas/blob/main/04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Filtering Data

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("marketing_campaign.csv", sep='\t')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [6]:
df['Marital_Status'].value_counts()

Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: Marital_Status, dtype: int64

In [7]:
df[df['Marital_Status']=='Married']

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,8,0,0,0,0,0,0,3,11,0
10,1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,...,7,0,0,0,0,0,0,3,11,0
11,387,1976,Basic,Married,7500.0,0,0,13-11-2012,59,6,...,8,0,0,0,0,0,0,3,11,0
14,2569,1987,Graduation,Married,17323.0,0,0,10-10-2012,38,3,...,8,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,4478,1979,Graduation,Married,63777.0,1,1,24-03-2013,87,457,...,8,0,0,0,0,0,0,3,11,0
2229,10084,1972,Graduation,Married,24434.0,2,0,18-05-2014,9,3,...,7,0,0,0,0,0,0,3,11,0
2234,8372,1974,Graduation,Married,34421.0,1,0,01-07-2013,81,3,...,7,0,0,0,0,0,0,3,11,0
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

#Not Married , not togather and born after 1990

In [10]:
df.loc[~(df['Marital_Status'].isin(['Married','Together'])) & (df['Year_Birth']>1990)]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
111,7431,1991,PhD,Single,68126.0,0,0,10-11-2012,40,1332,...,9,0,1,0,0,0,0,3,11,1
113,999,1991,Graduation,Single,86037.0,0,0,02-01-2013,95,490,...,3,0,1,1,0,0,0,3,11,1
140,821,1992,Master,Single,92859.0,0,0,19-10-2012,46,962,...,2,0,0,0,0,0,0,3,11,0
392,2669,1993,Graduation,Single,74293.0,0,0,04-05-2014,66,375,...,2,0,0,0,0,0,0,3,11,0
696,8315,1995,Graduation,Single,34824.0,0,0,26-03-2014,65,4,...,6,0,0,0,0,0,0,3,11,0
747,10548,1995,Graduation,Single,71163.0,0,0,09-03-2014,30,283,...,1,0,0,0,0,0,0,3,11,0
831,8560,1992,Graduation,Single,48789.0,0,0,10-09-2012,94,351,...,6,0,0,0,0,0,0,3,11,0
846,10343,1991,2n Cycle,Single,61618.0,0,0,29-09-2012,27,605,...,3,0,0,0,0,0,0,3,11,0
893,9960,1991,Basic,Single,26868.0,1,0,30-04-2014,52,0,...,7,0,0,0,0,0,0,3,11,0
914,10619,1994,Graduation,Single,95529.0,0,0,03-12-2012,29,770,...,3,0,0,1,0,0,0,3,11,1
921,4483,1993,Graduation,Single,72354.0,0,0,17-04-2013,67,315,...,1,0,0,0,0,0,0,3,11,0
928,10037,1993,Graduation,Single,74293.0,0,0,04-05-2014,66,375,...,2,0,0,0,0,0,0,3,11,0
995,5184,1995,Graduation,Single,34824.0,0,0,26-03-2014,65,4,...,6,0,0,0,0,0,0,3,11,0
1042,10749,1991,Graduation,Single,8028.0,0,0,18-09-2012,62,73,...,19,0,0,0,0,0,0,3,11,0
1066,3005,1992,Graduation,Single,83528.0,0,0,01-05-2014,7,530,...,1,1,0,0,1,0,0,3,11,1
1179,5735,1991,Master,Single,90638.0,0,0,13-02-2014,29,1156,...,1,0,0,1,0,0,0,3,11,0
1246,4136,1992,Basic,Single,7500.0,1,0,03-12-2012,63,10,...,9,0,0,0,0,0,0,3,11,0
1351,5080,1993,Graduation,Single,70515.0,0,0,21-10-2013,12,420,...,2,0,0,0,0,0,0,3,11,1
1572,5350,1991,Master,Single,90638.0,0,0,13-02-2014,29,1156,...,1,0,0,1,0,0,0,3,11,1
1714,4055,1992,Basic,Single,18746.0,1,0,29-05-2014,41,2,...,6,0,0,0,0,0,0,3,11,0
1722,569,1991,Graduation,Single,90273.0,0,0,14-12-2013,32,704,...,2,0,1,1,1,0,0,3,11,1
1850,4427,1995,2n Cycle,Single,83257.0,0,0,18-09-2012,56,536,...,6,1,0,1,0,0,1,3,11,1
2040,5631,1991,Graduation,Single,49767.0,0,0,02-05-2013,92,202,...,4,0,0,0,0,0,0,3,11,0
2093,7734,1993,Graduation,Absurd,79244.0,0,0,19-12-2012,58,471,...,1,0,0,1,1,0,0,3,11,1
2164,7600,1992,Basic,Single,15253.0,1,0,28-10-2013,13,1,...,7,0,0,0,0,0,0,3,11,0
2213,3661,1995,2n Cycle,Single,80617.0,0,0,12-10-2012,42,594,...,2,0,0,0,0,0,0,3,11,0

#bitwise operator to filter data

In [13]:
df.loc[(df['NumWebPurchases'] >=5) | (df['NumDealsPurchases'] >=5) , 'Active online buyers' ] = 'Active'
df.loc[(df['NumWebPurchases'] <5) & (df['NumDealsPurchases'] <5) , 'Active online buyers' ] = 'Not Active'

In [14]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Active online buyers
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,0,0,0,0,0,0,3,11,1,Active
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,0,0,0,0,0,0,3,11,0,Not Active
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,Active
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,0,0,0,0,0,0,3,11,0,Not Active
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,0,0,0,0,0,0,3,11,0,Active

#Highly educated

In [15]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Active online buyers'],
      dtype='object')

In [19]:
df['Kidhome'].value_counts()

0    1293
1     899
2      48
Name: Kidhome, dtype: int64

In [29]:
df.loc[(df['Education'].isin(['Graduation','PhD','Masters'] )) & (df['Income']>65000) &( df["Kidhome"]==0)]

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Active online buyers
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,0,0,0,0,0,0,3,11,0,Active
15,2114,1946,PhD,Single,82800.0,0,0,24-11-2012,23,1006,...,0,0,1,1,0,0,3,11,1,Active
23,4047,1954,PhD,Married,65324.0,0,1,11-01-2014,0,384,...,0,0,0,0,0,0,3,11,0,Active
29,1966,1965,PhD,Married,84618.0,0,0,22-11-2013,96,684,...,0,0,1,0,0,0,3,11,0,Active
36,4339,1970,PhD,Married,67353.0,0,1,31-12-2013,37,702,...,0,0,0,0,0,0,3,11,0,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,5721,1956,PhD,Married,84117.0,0,0,11-05-2014,60,611,...,0,0,1,0,0,0,3,11,0,Active
2194,7118,1957,Graduation,Married,73803.0,0,1,01-08-2012,61,833,...,1,0,0,0,0,0,3,11,1,Active
2203,2736,1978,Graduation,Married,73807.0,0,1,02-01-2013,88,366,...,0,0,0,0,0,0,3,11,0,Active
2211,10469,1981,Graduation,Together,88325.0,0,0,05-02-2014,42,519,...,0,0,0,0,0,0,3,11,0,Active
2217,9589,1948,PhD,Widow,82032.0,0,0,05-04-2014,54,332,...,0,0,0,0,0,0,3,11,0,Not Active